:root {
    --my-font-family: "Poppins", sans-serif;
    --rosa1: #F6B8AD;
    --rosa2: #FADCC4;
    --azul1: #ACC4CA;
    --azul2: #DDE4DC;
    --verde: #C3D495
}

html {
    font-size: 1rem;
}

body {
    font-family: var(--my-font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

p {
    line-height: 1.75;
}
